<template>
  <div class="jesa--case-item">
    <label class="jesa--case-item_pmCase-id">
      #{{ pmCase.caseNumber }} &middot; {{ pmCase.sentBy || 'New' }}
    </label>
    <label class="jesa--case-item__task-label">
      Task
    </label>
    <label class="jesa--case-item__process-label">
      Process
    </label>
    <label class="jesa--case-item__priority">
      Medium Priority
    </label>
    <label class="jesa--case-item__action">
      <router-link
        :to="caseRoute(pmCase)"
        class="button is-fullwidth is-primary"
      >
        Open
      </router-link>
    </label>
    <label class="jesa--case-item__title">
      {{ pmCase.pmCaseTitle }}
    </label>
    <label class="jesa--case-item__task">
      {{ pmCase.task }}
    </label>
    <label class="jesa--case-item__process">
      {{ pmCase.process }}
    </label>
  </div>
</template>

<script>
import item from '@/mixins/item'

export default {
  mixins: [item],

  props: {
    pmCase: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss">
  @import "~bulma";

  .jesa--case-item {
    margin: 1em 0;
    border-radius: $border;
    border: 1px solid $background;
    background-color: $white;
    padding: 1rem;
    display: grid;
    width: calc(100vw - 7rem);
    grid-template-columns: 25% 25% 30% 12% 8%;
    grid-template-rows: auto;
    grid-template-areas:
      "case-id    task-label process-label priority action"
      "case-title task       process       priority action";

    .jesa--case-item__case-id {
      grid-area: case-id;
      color: $grey-lighter;
      font-weight: bold;
    }

    .jesa--case-item__task-label {
      grid-area: task-label;
      color: $grey-lighter;
      font-weight: bold;
    }

    .jesa--case-item__process-label {
      grid-area: process-label;
      color: $grey-lighter;
      font-weight: bold;
    }

    .jesa--case-item__priority {
      grid-area: priority;
      font-weight: bold;
      align-self: center;
    }

    .jesa--case-item__action {
      grid-area: action;
      align-self: center;
    }

    .jesa--case-item__title {
      grid-area: case-title;
      font-weight: bold;
    }

    .jesa--case-item__task {
      grid-area: task;
      font-weight: bold;
    }

    .jesa--case-item__process {
      grid-area: process;
      font-weight: bold;
    }
  }
</style>
