<template>
  <section class="section">
    <div class="columns">
      <h5 class="title column">
        {{ title }}
      </h5>
      <div class="column is-narrow">
        Change view:
      </div>
      <div class="column is-narrow">
        <b-tooltip
          label="Table view"
          type="is-info"
        >
          <button
            class="button is-white"
            @click="enableListView()"
          >
            <b-icon
              icon="view-list"
              size="is-medium"
            />
          </button>
        </b-tooltip>
        <b-tooltip
          label="Comfortable view"
          type="is-info"
        >
          <button
            class="button is-white"
            @click="enableCardView()"
          >
            <b-icon
              icon="view-stream"
              size="is-medium"
            />
          </button>
        </b-tooltip>
      </div>
    </div>
    <template v-if="view === 'card'">
      <CardItem
        v-for="pmCase in cases"
        :key="pmCase.caseNumber"
        :pm-case="pmCase"
        class="jesa--case__cards"
      />
    </template>
    <template v-else>
      <TableItems
        :cases="cases"
        class="jesa--case__cards"
      />
    </template>
  </section>
</template>

<script>
import CardItem from '@/components/Cases/CardItem'
import TableItems from '@/components/Cases/Table'

export default {
  components: {
    CardItem, TableItems
  },

  props: {
    cases: { type: Array, required: true },
    title: { type: String, required: false, default: 'TO DO' }
  },

  data () {
    return {
      view: 'card'
    }
  },

  methods: {
    enableListView () {
      this.view = 'list'
    },

    enableCardView () {
      this.view = 'card'
    }
  }
}
</script>
