<template>
  <b-table
    :data="cases"
    class="jesa--case-table"
    hoverable
    paginated
  >
    <template slot-scope="props">
      <b-table-column
        label="#"
        numeric
        sortable
      >
        {{ props.row.caseNumber }}
      </b-table-column>
      <b-table-column
        label="Title"
        sortable
      >
        <strong>{{ props.row.caseTitle }}</strong>
      </b-table-column>
      <b-table-column
        label="Task"
        sortable
      >
        {{ props.row.task }}
      </b-table-column>
      <b-table-column
        label="Process"
        sortable
      >
        {{ props.row.process }}
      </b-table-column>
      <b-table-column
        label="Due Date"
        sortable
      >
        {{ props.row.dueDate }}
      </b-table-column>
      <b-table-column
        label="Sent By"
        sortable
      >
        {{ props.row.sentBy || 'N/A' }}
      </b-table-column>
      <b-table-column
        label="Priority"
        sortable
      >
        <span class="jesa--priority">
          Medium Priority
        </span>
      </b-table-column>
      <b-table-column label="">
        <router-link
          :to="caseRoute(props.row)"
          class="button is-primary is-fullwidth"
        >
          Open
        </router-link>
      </b-table-column>
    </template>
  </b-table>
</template>

<script>
import item from '@/mixins/item'

export default {
  mixins: [item],

  props: {
    cases: {
      type: Array,
      required: true
    }
  }
}
</script>

<style lang="scss">
  @import "~bulma";

  .jesa--case-table {
    width: calc(100vw - 7rem);
    border: 1px solid $border;
    border-radius: $radius;
    background-color: $white;

    td {
      vertical-align: middle !important;
    }

    .jesa--priority {
      color: $info;
    }

    .level {
      padding-right: 1.5rem;
    }
  }
</style>
