<template>
  <transition
    name="fade-in-down"
    enter-active-class="animated fadeInDown fadeIn"
    leave-active-class="animated fadeOutUp"
    :duration="{ enter: position * 100, leave: position * 5 }"
    appear
  >
    <div class="jesa--inbox-item">
      <router-link :to="to">
        <div class="card-content">
          <div v-show="item.sentBy">
            <span>
              <small>Previous User: {{ item.sentBy || 'System' }}</small>
            </span>
          </div>
          <div>
            <span>
              <strong>{{ item.caseTitle }}</strong><br>
              <span>{{ item.task }}</span>
            </span>
          </div>
          <div>
            Due by {{ item.dueDate | parseDate }}
          </div>
          <div class="jesa--item__tags">
            <span class="tag is-primary">
              <strong class="has-text-white">
                #{{ item.caseNumber }}
              </strong>
            </span>
            <span class="tag is-link">
              {{ item.process }}
            </span>
            <span class="tag is-info">
              {{ item.status }}
            </span>
          </div>
        </div>
      </router-link>
    </div>
  </transition>
</template>

<script>
export default {
  filters: {
    parseDate (date) {
      return new Date(date).toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' })
    }
  },

  props: {
    to: {
      type: Object,
      required: true
    },

    item: {
      type: Object,
      required: true
    },

    position: {
      type: Number,
      required: false,
      default: 0
    }
  }
}
</script>

<style lang="scss">
@import "~bulma";
@import "~animate.css";

.jesa--inbox-item {
  background-color: $white;
  border-bottom: 1px solid $border;

  a {
    color: $grey;

    &.router-link-exact-active {
      background-color:  hsl(217, 71%, 98.5%);
      border-right: 3px solid $link-focus-border ;
      display: block;
    }
  }

  .jesa--item__tags {
    margin: 1rem -2rem -1.5rem -1.5rem;
  }

  .tag {
      border-radius: 0;
      margin: 0;
  }
}
</style>
