<template>
  <section class="jesa--inbox-list">
    <p
      v-if="items.length === 0"
      class="jesa--inbox-list__empty has-text-centered has-text-grey"
    >
      <span>Empty folder</span>
    </p>
    <Item
      v-for="(item, position) in items"
      :key="item.app_uid"
      :item="item"
      :to="route(item)"
      :position="position"
    />
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Item from '@/components/Items/Item'

export default {
  components: { Item },

  props: {
    process: { type: String, required: true }
  },

  computed: {
    ...mapGetters(['inbox']),

    items () {
      return this.$route.meta.list === 'history' ? this.inbox() : this.inbox(this.process)
    }
  },

  watch: {
    '$route.meta.list': {
      immediate: true,
      handler (value) {
        if (value === 'history') {
          this.getHistory()
        } else {
          this.getTodo()
        }
      }
    }
  },

  methods: {
    ...mapActions(['getTodo', 'getHistory', 'getSummary']),

    route (item) {
      this.getSummary({ item })

      return {
        name: this.$route.meta.list + '-form',
        params: {
          process: item.pro_uid,
          task: item.task_uid,
          app: item.app_uid,
          del: item.del_index
        }
      }
    }
  }
}
</script>

<style>
  .jesa--inbox-list__empty {
    margin: 2rem 0;
  }
</style>
