<template>
  <section class="jesa--create-view section columns">
    <Dynaform
      :key="app.uid"
      class="jesa--create-dynaform column is-offset-2-desktop is-8-desktop"
      :process="process"
      :task="app.task"
      :app="app.uid"
      del="1"
    />
  </section>
</template>

<script>
import Dynaform from '@/views/Dynaform'

export default {
  components: {
    Dynaform
  },

  props: {
    process: {
      type: String,
      required: true
    }
  },

  data () {
    return {
      app: {
        task: '',
        uid: ''
      }
    }
  },

  created () {
    this.createCase()
  },

  methods: {
    async createCase () {
      const app = await this.$store.dispatch('cases/createCase', {
        process: this.process
      })

      this.app.uid = app.app_uid
      this.app.task = app.startingTask
    }
  }
}
</script>

<style lang="scss">
  @import "~bulma";

  .jesa--create-view {
    background-color: $white-bis;
    min-height: calc(100vh - 4.1rem);
  }

  .jesa--create-dynaform {
    align-self: flex-start;
    background-color: $white;
    border: 1px solid $border;
    border-radius: $radius;
    min-height: 10rem;
  }
</style>
