<template>
  <form
    ref="dynaform"
    class="jesa--dynaform"
  >
    <Summary v-if="showSummary" />
    <template v-for="(item, i) in dynaform.items[0].items">
      <div
        :key="i"
        class="columns"
      >
        <template v-for="field in item">
          <transition
            :key="field.id"
            name="fade"
            appear
          >
            <Title
              v-if="field.type == 'title'"
              :id="field.id"
              :class="column(field.colSpan)"
              :title="field.label"
            />
            <Subtitle
              v-else-if="field.type == 'subtitle'"
              :id="field.id"
              :class="column(field.colSpan)"
              :subtitle="field.label"
            />
            <Label
              v-else-if="field.type == 'label'"
              :id="field.id"
              :class="column(field.colSpan)"
              :label="field.label"
            />
            <Hidden
              v-else-if="field.type == 'hidden'"
              :id="field.id"
              :value="value(field.variable)"
            />
            <Dropdown
              v-else-if="field.type == 'dropdown'"
              :id="field.id"
              :class="column(field.colSpan)"
              :hint="field.hint"
              :label="field.label"
              :mandatory="field.required"
              :mode="field.mode"
              :options="field.options"
              :parent-mode="dynaform.items[0].mode"
              :placeholder="field.placeholder"
              :query="query(field.id, field.variable)"
              :value-label="value(field.variable + '_label')"
              :value="value(field.variable)"
              :variable="field.variable"
              @update="update($event)"
            />
            <Textarea
              v-else-if="field.type == 'textarea'"
              :id="field.id"
              :class="column(field.colSpan)"
              :error-message="field.validateMessage"
              :hint="field.hint"
              :label="field.label"
              :mandatory="field.required"
              :mode="field.mode"
              :parent-mode="dynaform.items[0].mode"
              :pattern="field.validate"
              :placeholder="field.placeholder"
              :rows="parseInt(field.rows)"
              :validate="field.validate"
              :value="value(field.variable, field.variable)"
              :variable="field.variable"
              @update="update($event)"
            />
            <Textbox
              v-else-if="field.type == 'text'"
              :id="field.id"
              :class="column(field.colSpan)"
              :error-message="field.validateMessage"
              :field="field"
              :hint="field.hint"
              :label="field.label"
              :mandatory="field.required"
              :max-length="parseInt(field.maxLength)"
              :mode="field.mode"
              :parent-mode="dynaform.items[0].mode"
              :pattern="field.validate"
              :placeholder="field.placeholder"
              :validate="field.validate"
              :value="value(field.variable)"
              :variable="field.variable"
              @update="update($event)"
            />
            <Submit
              v-else-if="field.type == 'submit'"
              :id="field.id"
              :class="column(field.colSpan)"
              :label="field.label"
              @submit="submit"
            />
            <Grid
              v-else-if="field.type == 'grid'"
              :id="field.id"
              :can-add-row="field.addRow"
              :can-delete-row="field.deleteRow"
              :class="column(field.colSpan)"
              :columns="field.columns"
              :hint="field.hint"
              :mode="field.mode"
              :parent-mode="dynaform.items[0].mode"
              :rows="value(field.variable)"
              :title="field.title"
              :variable="field.variable"
              @add-row="addRow(field.variable, field.columns)"
              @remove-row="removeRow($event, field.variable)"
            />
            <Radio
              v-else-if="field.type == 'radio'"
              :id="field.id"
              :class="column(field.colSpan)"
              :hint="field.hint"
              :label="field.label"
              :mandatory="field.required"
              :mode="field.mode"
              :options="field.options"
              :parent-mode="dynaform.items[0].mode"
              :value="value(field.variable)"
              :variable="field.variable"
              @update="update($event)"
            />
            <Checkbox
              v-else-if="field.type == 'checkbox'"
              :id="field.id"
              :class="column(field.colSpan)"
              :hint="field.hint"
              :label="field.label"
              :mandatory="field.required"
              :mode="field.mode"
              :options="field.options"
              :parent-mode="dynaform.items[0].mode"
              :value="!!parseInt(value(field.variable))"
              :variable="field.variable"
              @update="update($event)"
            />
            <Checkgroup
              v-else-if="field.type == 'checkgroup'"
              :id="field.id"
              :class="column(field.colSpan)"
              :hint="field.hint"
              :label="field.label"
              :mandatory="field.required"
              :mode="field.mode"
              :options="field.options"
              :parent-mode="dynaform.items[0].mode"
              :value="value(field.variable)"
              :variable="field.variable"
              @update="update($event)"
            />
            <DateTime
              v-else-if="field.type == 'datetime'"
              :id="field.id"
              :class="column(field.colSpan)"
              :default-date="field.defaultDate"
              :format="field.format"
              :hint="field.hint"
              :label="field.label"
              :mandatory="field.required"
              :max-date="field.maxDate"
              :min-date="field.minDate"
              :mode="field.mode"
              :parent-mode="dynaform.items[0].mode"
              :placeholder="field.placeholder"
              :value="value(field.variable)"
              :variable="field.variable"
              @update="update($event)"
            />
            <File
              v-else-if="field.type == 'file'"
              :id="field.id"
              :class="column(field.colSpan)"
              :default-date="field.defaultDate"
              :hint="field.hint"
              :label="field.label"
              :mandatory="field.required"
              :mode="field.mode"
              :parent-mode="dynaform.items[0].mode"
              :placeholder="field.placeholder"
              :value="value(field.variable)"
              :variable="field.variable"
              :extensions="field.extensions"
              @upload="upload($event, field.inp_doc_uid)"
            />
            <Picture
              v-else-if="field.type == 'image'"
              :id="field.id"
              :class="column(field.colSpan)"
              :hint="field.hint"
              :label="field.label"
              :src="field.src"
              :alternate-text="field.alternateText"
              :alt="field.alt"
              :title="field.title"
              :comment="field.comment"
              :shape="field.shape"
              mandatory
              mode="view"
            />
            <Link
              v-else-if="field.type == 'link'"
              :id="field.id"
              :class="column(field.colSpan)"
              :hint="field.hint"
              :label="field.label"
              :href="field.href"
              mode="view"
              mandatory
              :display-text="field.value"
            />
            <Suggest
              v-else-if="field.type == 'suggest'"
              :id="field.id"
              :class="column(field.colSpan)"
              :hint="field.hint"
              :label="field.label"
              :mandatory="field.required"
              :mode="field.mode"
              :options="field.options"
              :parent-mode="dynaform.items[0].mode"
              :placeholder="field.placeholder"
              :query="querySuggest(field.id, field.variable, value(field.variable))"
              :value="value(field.variable)"
              :variable="field.variable"
              @update="update($event)"
            />
            <DynButton
              v-else-if="field.type == 'button'"
              :id="field.id"
              :class="column(field.colSpan)"
              :label="field.label"
            />
          </transition>
        </template>
      </div>
    </template>
    <b-loading
      :is-full-page="false"
      :active="isLoading"
    />
  </form>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { Snackbar } from 'buefy/dist/components/snackbar'
import Checkbox from '@/components/dynaform/Checkbox'
import Checkgroup from '@/components/dynaform/Checkgroup'
import DateTime from '@/components/dynaform/DateTime'
import Dropdown from '@/components/dynaform/Dropdown'
import DynButton from '@/components/dynaform/Button'
import File from '@/components/dynaform/File'
import Grid from '@/components/dynaform/Grid'
import Hidden from '@/components/dynaform/Hidden'
import Label from '@/components/dynaform/Label'
import Link from '@/components/dynaform/Link'
import Picture from '@/components/dynaform/Image'
import Radio from '@/components/dynaform/Radio'
import Submit from '@/components/dynaform/Submit'
import Subtitle from '@/components/dynaform/Subtitle'
import Suggest from '@/components/dynaform/Suggest'
import Textarea from '@/components/dynaform/Textarea'
import Textbox from '@/components/dynaform/Textbox'
import Title from '@/components/dynaform/Title'
import Summary from '@/components/Summary'

export default {
  components: {
    Checkbox, Checkgroup, DateTime, Dropdown, DynButton, File, Grid, Picture, Link, Label, Radio, Submit, Subtitle, Summary, Suggest, Textarea, Textbox, Title, Hidden
  },

  props: {
    process: { type: String, required: true },
    task: { type: String, required: true },
    app: { type: String, required: true },
    del: { type: String, required: true }
  },

  provide () {
    return {
      executeQuery: this.executeQuery,
      querySuggest: this.querySuggest,
      value: this.value,
      update: this.update
    }
  },

  data () {
    return { currentStep: 0, isLoading: false, showSummary: false }
  },

  computed: {
    ...mapGetters(['dynaform', 'variables', 'steps'])
  },

  async created () {
    this.isLoading = true
    this.clearDynaform()

    try {
      this.showSummary = false
      await this.getDynaform({ process: this.process, task: this.task, app: this.app, del: this.del, step: 0 })
    } catch (error) {
      this.showSummary = true
    }

    await this.getSteps({ app: this.app, task: this.task })
    await this.getInputFiles({ app: this.app })
    await this.getOutputFiles({ app: this.app })
    await this.getCaseNotes({ app: this.app })

    this.isLoading = false
  },

  methods: {
    ...mapActions([
      'addGridRow',
      'clearDynaform',
      'executeQuery',
      'executeQuerySuggest',
      'getCaseNotes',
      'getDynaform',
      'getInputFiles',
      'getOutputFiles',
      'getSteps',
      'getTasks',
      'removeGridRow',
      'saveVariables',
      'submitDynaform',
      'updateVariable',
      'uploadFile'
    ]),

    value (variable) {
      return this.variables[variable]
    },

    column (colSpan) {
      return `column is-${colSpan}`
    },

    update (variable) {
      this.updateVariable(variable)
    },

    async upload (file, inputDoc) {
      const response = await this.uploadFile({ app: this.app, task: this.task, inputDoc, file })

      switch (response.status) {
        case 413:
          Snackbar.open({
            message: response.data.error.message,
            type: 'is-danger'
          })
          break
        case 200: Snackbar.open('File uploaded')
          break
      }
    },

    addRow (variable, columns) {
      this.addGridRow({ variable, columns })
    },

    removeRow (rowId, variable) {
      this.removeGridRow({ variable, rowId })
    },

    async query (field, variable) {
      try {
        return this.executeQuery({ field, variable, process: this.process })
      } catch (error) {
        console.error(error)
      }
    },

    async querySuggest (field, variable, filter) {
      try {
        return await this.executeQuerySuggest({ field, variable, filter, process: this.process })
      } catch (error) {
        console.error(error)
      }
    },

    async submit () {
      if (!this.$refs.dynaform.reportValidity()) {
        return
      }

      try {
        await this.saveVariables({ app: this.app })

        if (this.currentStep === this.steps.length - 1) {
          await this.submitDynaform({ app: this.app, del: this.del })
          this.$router.push({ name: 'inbox-list', params: { process: this.process } })
        }
      } catch (error) {
        console.error(error)
      }

      this.currentStep++

      this.getDynaform({
        process: this.process,
        task: this.task,
        app: this.app,
        del: this.del,
        step: this.currentStep
      })
    }
  }
}
</script>

<style lang="scss">
  .jesa--dynaform {
    position: relative;
    align-self: stretch;
    grid-area: dynaform;
    justify-self: stretch;
    padding: 2rem 1.75rem;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s, transform 0.3s ease-in-out;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
    transform: scale(0.99);
  }
</style>
