<template>
  <div class="section jesa-tiles">
    <Tile
      v-for="process in processes"
      :key="process.id"
      :process="process"
    />
    <hr class="jesa--home-separation">
    <CasesList
      :cases="inbox()"
    />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Tile from '@/components/Tile'
import CasesList from '@/components/Cases/List'

export default {
  components: {
    Tile, CasesList
  },

  computed: {
    ...mapGetters(['processes']),
    ...mapGetters(['inbox'])
  },

  created () {
    this.getProcesses()
  },

  methods: {
    ...mapActions(['getProcesses'])
  }
}
</script>

<style lang="scss">
  @import "~bulma";

  .jesa-tiles {
    display: flex;
    flex-wrap: wrap;
    background-color: $white-bis;
  }

  .jesa--tile,
  .jesa--create-tile,
  .jesa--todo-item {
    transition: box-shadow 0.4s ease-in-out, transform 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0.5rem 40px -1px $background;
      transform: translateY(-0.1rem);
    }
  }

  .jesa--home-separation {
    margin: 2rem 0;
    width: 100%;
    visibility: hidden;
  }
</style>
