<template>
  <div class="jesa--inbox">
    <Navigation />
    <router-view
      name="list"
    />
    <router-view
      :key="'form' + $route.path"
      name="dynaform"
    />
    <Tasks
      v-if="app"
      :tasks="tasks"
    />
    <Files
      v-if="app"
      :files="inputFiles"
      title="Input Documents"
      class="jesa--input-files"
    />
    <Files
      v-if="app"
      :files="outputFiles"
      title="Generated Documents"
      class="jesa--output-files"
    />
    <NotesList
      v-if="app"
      :notes="caseNotes"
      :app="$route.params.app"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Tasks from '@/components/Tasks'
import Files from '@/components/Files'
import NotesList from '@/components/Notes/List'
import Navigation from '@/components/Navigation'

export default {
  components: { Tasks, Files, NotesList, Navigation },

  props: {
    process: { type: String, required: true }
  },

  computed: {
    ...mapGetters(['tasks', 'inputFiles', 'outputFiles', 'caseNotes']),

    app () {
      return this.$route.params.app
    }
  },

  created () {
    this.clearTasks()
    this.clearInputFiles()
    this.clearOutputFiles()
    this.clearCaseNotes()

    this.getProcesses()
  },

  methods: {
    ...mapActions(['clearTasks', 'clearInputFiles', 'clearOutputFiles', 'clearCaseNotes', 'getProcesses'])
  }
}
</script>

<style lang="scss">
  @import "~bulma";

  .jesa--inbox {
    display: grid;
    min-height: calc(100vh - 5rem);
    grid-template-columns: 5rem minmax(20rem, 1fr) minmax(40rem, 4fr) repeat(2, minmax(20rem, 1fr));
    grid-template-rows: repeate(auto-fill, 0fr);
    grid-template-areas:
      "navigation inbox-list dynaform case-notes tasks"
      "navigation inbox-list dynaform case-notes input-files"
      "navigation inbox-list dynaform case-notes output-files";

    .jesa--inbox-list {
      grid-area: inbox-list;
      background-color: $white-bis;
      padding: 0;
      border-right: 1px solid $border;
    }
  }
</style>
