<template>
  <section class="section">
    <form class="columns is-multiline">
      <div class="column is-4 is-offset-4 box">
        <img
          class="jesa--login-image"
          src="https://static.jacobs-esa.com/public/share/jacobs-logo.png"
        >
        <b-field label="Login">
          <b-input
            v-model="username"
            type="text"
            name="username"
            placeholder="Your login"
            required
            autofocus
          />
        </b-field>
        <b-field label="Password">
          <b-input
            v-model="password"
            type="password"
            name="password"
            password-reveal
            placeholder="Your password"
            required
          />
        </b-field>
        <b-field>
          <button
            class="jesa--login-button button is-primary is-medium is-fullwidth"
            native-type="submit"
            @click.prevent="login"
          >
            Login
          </button>
        </b-field>
      </div>
    </form>
  </section>
</template>

<script>
export default {
  data () {
    return {
      username: '',
      password: ''
    }
  },

  methods: {
    async login () {
      const loading = this.$loading.open()

      await this.$store.dispatch('login', {
        username: this.username,
        password: this.password
      })

      loading.close()

      this.$router.push({ name: 'home' })
    }
  }
}
</script>

<style lang="scss" scopped>
  @import "~bulma";

  html {
    background-color: $background;
  }

  .jesa--login-image {
    margin-bottom: 2rem;
  }

  .jesa--login-button {
    margin-top: 3rem;
  }
</style>
