<template>
  <p class="has-text-centered">
    <br><br>Logging out.
  </p>
</template>

<script>
export default {
  created () {
    window.localStorage.removeItem('token')
    window.localStorage.removeItem('currentUser')

    this.$router.push('login')
  }
}
</script>
