<template>
  <section class="jesa--search section">
    <h4 class="subtitle is-4">
      Results for: {{ keyword }}
    </h4>
    <Results
      :key="keyword"
      :cases="searchResults"
      :is-loading="isLoading"
      title="Cases"
      class="jesa--search__results"
    />
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Results from '@/components/Cases/List.vue'

export default {
  components: { Results },

  props: {
    keyword: {
      type: String,
      required: false,
      default: null
    }
  },

  data () {
    return {
      isLoading: false
    }
  },

  computed: {
    ...mapGetters(['searchResults'])
  },

  watch: {
    async keyword (keyword) {
      this.isLoading = true
      await this.advancedSearch({ keyword })
      this.isLoading = false
    }
  },

  async created () {
    this.isLoading = true
    await this.advancedSearch({ keyword: this.keyword })
    this.isLoading = false
  },

  methods: {
    ...mapActions(['advancedSearch'])
  }
}
</script>

<style lang="scss">
  .jesa--search {
    .jesa--search__results {
      padding: 0;
    }
  }
</style>
