<template>
  <div>
    <label
      v-if="label"
      class="label"
    >
      {{ label }}&nbsp;<Hint :hint="hint" />
    </label>
    <div
      v-for="option in options"
      :key="option.value"
      class="field"
    >
      <b-checkbox
        v-model="radios"
        :disabled="isDisabled || isReadonly"
        :native-value="option.value"
        :true-value="option.value"
        :required="mandatory"
      >
        {{ option.label }}
      </b-checkbox>
    </div>
  </div>
</template>

<script>
import control from '@/mixins/control'
import Hint from '@/components/Hint'

export default {
  components: { Hint },

  mixins: [control],

  props: {
    options: { type: Array, required: true },
    variable: { type: String, required: false, default: null },
    value: { type: Array, required: false, default: () => [] }
  },

  data () {
    return {
      radios: []
    }
  },

  watch: {
    radios (value) {
      this.$emit('update', {
        variable: this.variable,
        value: value
      })
    }
  },

  created () {
    this.radios = this.value
  }
}
</script>
