<template>
  <div>
    <label
      v-if="label"
      class="label"
    >
      {{ label }}&nbsp;<Hint :hint="hint" />
    </label>
    <b-checkbox
      v-model="_value"
      :disabled="isDisabled"
      :readonly="isReadonly"
      :required="mandatory"
      :true-value="options.filter(opt => opt.value === '1').label"
      :false-value="options.filter(opt => opt.value === '0').label"
    >
      {{ selectedValue }}
    </b-checkbox>
  </div>
</template>

<script>
import control from '@/mixins/control'
import Hint from '@/components/Hint'

export default {
  components: { Hint },

  mixins: [control],

  props: {
    options: { type: Array, required: true },
    variable: { type: String, required: false, default: null },
    value: { type: Boolean, required: false, default: false }
  },

  computed: {
    trueValue () {
      const opt = this.options.filter(opt => opt.value === '1')[0]
      return opt ? opt.label : 'Yes'
    },

    falseValue () {
      const opt = this.options.filter(opt => opt.value === '0')[0]
      return opt ? opt.label : 'No'
    },

    selectedValue () {
      return this.value ? this.trueValue : this.falseValue
    },

    _value: {
      get () {
        return this.value
      },

      set (value) {
        this.$emit('update', { variable: this.variable, value: value ? ['1'] : ['0'] })
      }
    }
  }
}
</script>
