<template>
  <div>
    <label
      v-if="label"
      class="label"
    >
      {{ label }}&nbsp;<Hint :hint="hint" />
    </label>
    <b-field>
      <b-datepicker
        v-model="_value"
        :date-formatter="formatter"
        :disabled="isDisabled"
        :max-date="_maxDate"
        :min-date="_minDate"
        :placeholder="placeholder"
        :readonly="isReadonly"
        :required="mandatory"
        icon="calendar-today"
      />
    </b-field>
  </div>
</template>

<script>
import dateformat from 'dateformat'
import control from '@/mixins/control'
import Hint from '@/components/Hint'

export default {
  components: { Hint },

  mixins: [control],

  props: {
    format: { type: String, required: false, default: 'yyyy-mm-dd' },
    minDate: { type: String, required: false, default: null },
    maxDate: { type: String, required: false, default: null },
    defaultDate: { type: String, required: false, default: null }
  },

  computed: {
    _value: {
      get () {
        return this.value
          ? new Date(this.value)
          : this.defaultDate
            ? new Date(this.defaultDate)
            : null
      },

      set (value) {
        this.$emit('update', { variable: this.variable, value: dateformat(value, 'yyyy-mm-dd hh:mm:ss') })
      }
    },

    _minDate () {
      return this.minDate ? new Date(this.minDate) : null
    },

    _maxDate () {
      return this.maxDate ? new Date(this.maxDate) : null
    }
  },

  methods: {
    formatter (date) {
      return dateformat(date, this.format.toLowerCase())
    }
  }
}
</script>
