<template>
  <div>
    <label
      v-if="label"
      class="label"
    >
      {{ label }}&nbsp;<Hint :hint="hint" />
    </label>
    <b-field>
      <template v-if="queryOptions.length > 0">
        <b-select
          v-model="_value"
          :disabled="isDisabled"
          :placeholder="placeholder"
          :readonly="isReadonly"
          :required="mandatory"
          expanded
        >
          <option
            v-for="opt in queryOptions"
            :key="opt.id"
            :value="opt.value"
          >
            {{ opt.label || opt.text }}
          </option>
        </b-select>
      </template>
      <template v-else>
        <b-field>
          <b-input
            v-model="valueLabel"
            :placeholder="placeholder"
            disabled
          />
        </b-field>
      </template>
    </b-field>
  </div>
</template>

<script>
import control from '@/mixins/control'
import Hint from '@/components/Hint'

export default {
  components: { Hint },

  mixins: [control],

  props: {
    options: { type: Array, required: true },
    placeholder: { type: String, required: true },
    query: { type: Promise, required: true },
    valueLabel: { type: String, required: false, default: '' }
  },

  data () {
    return {
      queryOptions: [...this.options]
    }
  },

  async created () {
    this.queryOptions.push(...await this.query)
  }
}
</script>
