<template>
  <div>
    <label
      v-if="label"
      class="label"
    >
      {{ label }}&nbsp;<Hint :hint="hint" />
    </label>
    <b-field class="file">
      <b-upload
        v-model="file"
        :disabled="isDisabled"
        :readonly="isReadonly"
        :required="mandatory"
        :accept="extensions"
      >
        <a
          class="button is-primary"
          :class="{ 'is-static': isDisabled || isReadonly }"
        >
          <b-icon icon="upload" />
          <span>Click to upload</span>
        </a>
      </b-upload>
      <span
        v-if="file"
        class="file-name"
      >
        {{ file.name }}
      </span>
    </b-field>
  </div>
</template>

<script>
import control from '@/mixins/control'
import Hint from '@/components/Hint'

export default {
  components: { Hint },

  mixins: [control],

  props: {
    errorMessage: { type: String, required: false, default: null },
    mandatory: { type: Boolean, required: false, default: false },
    extensions: { type: String, required: false, default: '*' }
  },

  data () {
    return { file: null }
  },

  watch: {
    file (value) {
      this.$emit('upload', { file: value })
    }
  }
}
</script>
