<template>
  <div class="jesa--grid columns is-multiline">
    <div class="column is-10">
      <h5 class="title is-5">
        {{ title }}
      </h5>
      <p
        v-if="hint"
        class="has-text-grey"
      >
        {{ hint }}
      </p>
    </div>
    <div class="column is-1">
      <button
        v-if="canAddRow"
        class="button is-info is-full"
        @click.prevent="$emit('add-row')"
      >
        <b-icon icon="plus" />
        <span>Add</span>
      </button>
    </div>
    <div class="columns column">
      <div
        v-for="column in columns"
        :key="column.id"
        class="column"
      >
        <label class="jesa--grid__label label">
          {{ column.label }}
        </label>
        <template v-for="(row, key) in rows">
          <Textbox
            v-if="column.type == 'text'"
            :key="key"
            :hint="column.hint"
            :mandatory="column.required"
            :max-length="parseInt(column.maxLength)"
            :mode="column.mode"
            :pattern="column.validate"
            :placeholder="column.placeholder"
            :validate="column.validate"
            :value="row[column.id]"
            :variable="column.variable"
            class="jesa--grid__field"
            parent-mode="edit"
            label=""
            @update="updateGrid($event, key, column.id)"
          />
          <DateTime
            v-else-if="column.type == 'datetime'"
            :key="key"
            :default-date="column.defaultDate"
            :format="column.format"
            :hint="column.hint"
            :mandatory="column.required"
            :max-date="column.maxDate"
            :min-date="column.minDate"
            :mode="column.mode"
            :placeholder="column.placeholder"
            :value="row[column.id]"
            :variable="column.variable"
            class="jesa--grid__field"
            parent-mode="edit"
            label=""
            @update="updateGrid($event, key, column.id)"
          />
          <Dropdown
            v-else-if="column.type == 'dropdown'"
            :key="key"
            :mandatory="column.required"
            :mode="column.mode"
            :options="column.options"
            :placeholder="column.placeholder"
            :query="query(column.id, column.variable)"
            :value-label="value(column.variable + '_label')"
            :value="row[column.id]"
            :variable="column.variable"
            label=""
            class="jesa--grid__field"
            parent-mode="edit"
            @update="updateGrid($event, key, column.id)"
          />
          <Checkbox
            v-else-if="column.type == 'checkbox'"
            :id="column.id"
            :key="key"
            :mandatory="column.required"
            :mode="column.mode"
            :options="column.options"
            :value="value(column.variable) | boolValue"
            :variable="column.variable"
            class="jesa--grid__field"
            parent-mode="edit"
            label=""
            @update="updateGrid($event, key, column.id)"
          />
          <Textarea
            v-else-if="column.type == 'textarea'"
            :id="column.id"
            :key="key"
            :mandatory="column.required"
            :mode="column.mode"
            :pattern="column.validate"
            :placeholder="column.placeholder"
            :rows="parseInt(column.rows)"
            :validate="column.validate"
            :value="row[column.id]"
            :variable="column.variable"
            class="jesa--grid__field"
            parent-mode="edit"
            label=""
            @update="updateGrid($event, key, column.id)"
          />
          <Suggest
            v-else-if="column.type == 'suggest'"
            :id="column.id"
            :key="key"
            :mandatory="column.required"
            :mode="column.mode"
            :options="column.options"
            :placeholder="column.placeholder"
            :query="querySuggest(column.id, column.variable, value(column.variable))"
            :value="row[column.id]"
            :variable="column.variable"
            class="jesa--grid__field"
            label=""
            parent-mode="edit"
            @update="updateGrid($event, key, column.id)"
          />
          <Link
            v-else-if="column.type == 'link'"
            :id="column.id"
            :key="key"
            :display-text="column.value"
            :href="column.href"
            class="jesa--grid__field"
            label=""
            mandatory
            mode="view"
          />
          <File
            v-else-if="column.type == 'file'"
            :id="column.id"
            :key="key"
            :default-date="column.defaultDate"
            :hint="column.hint"
            :mandatory="column.required"
            :mode="column.mode"
            :placeholder="column.placeholder"
            :value="value(column.variable)"
            :variable="column.variable"
            :extensions="column.extensions"
            class="jesa--grid__field"
            parent-mode="edit"
            label=""
            @upload="uploadGrid($event, column.inp_doc_uid)"
          />
          <button
            v-else
            :id="column.id"
            :key="key"
            class="jesa--grid__field button is-static"
          >
            Not implemented
          </button>
        </template>
      </div>
      <div
        v-if="canDeleteRow"
        class="column is-narrow"
      >
        <label class="jesa--grid__label label">
          &nbsp;
        </label>
        <template v-for="(row, key) in rows">
          <div
            :key="key"
            class="field"
          >
            <button
              class="button is-outlined is-danger is-clearfix"
              title="Delete"
              @click.prevent="$emit('remove-row', key)"
            >
              <span>&times;</span>
            </button>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import Checkbox from '@/components/dynaform/Checkbox'
import DateTime from '@/components/dynaform/DateTime'
import Dropdown from '@/components/dynaform/Dropdown'
import File from '@/components/dynaform/File'
import Link from '@/components/dynaform/Link'
import Suggest from '@/components/dynaform/Suggest'
import Textarea from '@/components/dynaform/Textarea'
import Textbox from '@/components/dynaform/Textbox'

export default {
  components: {
    Checkbox, DateTime, Dropdown, File, Link, Suggest, Textarea, Textbox
  },

  inject: ['executeQuery', 'querySuggest', 'value', 'update'],

  filters: {
    boolValue (value) {
      return !!parseInt(value)
    }
  },

  props: {
    columns: { type: Array, required: true },
    rows: { type: [Array, Object], required: false, default: () => {} },
    canAddRow: { type: Boolean, required: true },
    canDeleteRow: { type: Boolean, required: true },
    title: { type: String, required: false, default: '' },
    hint: { type: String, required: false, default: null },
    variable: { type: String, required: true }
  },

  methods: {
    updateGrid ($event, row, column) {
      this.rows[row][column] = $event.value
      this.update({ variable: this.variable, value: this.rows })
    },

    async query (field, variable) {
      try {
        return await this.executeQuery({
          field,
          variable,
          process: this.process
        })
      } catch (error) {
        console.error(error)
      }
    }
  }
}
</script>

<style lang="scss">
  @import "~bulma";

  .jesa--grid.columns,
  .jesa--grid.columns:last-child {
    overflow-x: auto;
    border: 1px solid $border;
    border-radius: $radius;
    margin: 0.8rem;
    width: calc(100% - 1.5em);

    .jesa--grid__label.label {
      min-height: 4rem;
      display: inline-block;
    }

    .jesa--grid__field {
      margin-bottom: 0.75rem;

      .help.counter {
        display: none;
      }
    }

    .jesa--grid__field {
      .b-checkbox {
        margin: 0.5rem 0;
      }
    }
  }
</style>
