<template>
  <div class="block">
    <label class="label">
      {{ label }}&nbsp;<Hint :hint="hint" />
    </label>
    <figure class="image">
      <img
        :src="src"
        :alt="alternateText"
        :title="alt"
        :class="{ 'is-rounded': shape === 'circle' }"
      >
      <figcaption class="has-text-grey">
        {{ comment }}
      </figcaption>
    </figure>
  </div>
</template>

<script>
import control from '@/mixins/control'
import Hint from '@/components/Hint'

export default {
  components: { Hint },

  mixins: [control],

  props: {
    src: { type: String, required: false, default: '#' },
    alternateText: { type: String, required: false, default: '' },
    alt: { type: String, required: false, default: '' },
    title: { type: String, required: false, default: '' },
    comment: { type: String, required: false, default: '' },
    shape: { type: String, required: false, default: null }
  }
}
</script>

<style scopped>
  .jesa--dynaform {
    .image img {
      width: unset !important;
    }
  }
</style>
