<template>
  <div class="block">
    <label class="label">
      {{ label }}&nbsp;<Hint :hint="hint" />
    </label>
    <a
      _target="blank"
      :href="href"
    >
      {{ displayText }}
    </a>
  </div>
</template>

<script>
import control from '@/mixins/control'
import Hint from '@/components/Hint'

export default {
  components: { Hint },

  mixins: [control],

  props: {
    href: { type: String, required: false, default: '#' },
    displayText: { type: String, required: true, default: 'Link' }
  }
}
</script>
