<template>
  <div>
    <label
      v-if="label"
      class="label"
    >
      {{ label }}&nbsp;<Hint :hint="hint" />
    </label>
    <b-radio
      v-for="option in options"
      :key="option.value"
      v-model="_value"
      :name="variable"
      :disabled="isDisabled"
      :native-value="option.value"
      :readonly="isReadonly"
      :required="mandatory"
    >
      {{ option.label }}
    </b-radio>
  </div>
</template>

<script>
import control from '@/mixins/control'
import Hint from '@/components/Hint'

export default {
  components: { Hint },

  mixins: [control],

  props: {
    options: {
      type: Array,
      required: true
    }
  }
}
</script>
