<template>
  <div>
    <button
      class="button is-success is-medium"
      type="submit"
      @click.prevent="$emit('submit')"
    >
      {{ label }}
    </button>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      required: true
    }
  }
}
</script>
