<template>
  <div>
    <h4 class="title is-5">
      {{ subtitle }}
    </h4>
  </div>
</template>

<script>
export default {
  props: {
    subtitle: {
      type: String,
      required: true
    }
  }
}
</script>
