<template>
  <div>
    <label
      v-if="label"
      class="label"
    >
      {{ label }}&nbsp;<Hint :hint="hint" />
    </label>
    <b-field>
      <b-autocomplete
        v-model="_value"
        :data="filteredSuggestions"
        :placeholder="placeholder"
        :readonly="isReadonly"
        :disabled="isDisabled"
        :loading="isLoading"
        field="text"
        @input="onInput"
      >
        <template slot="empty">
          No results found
        </template>
      </b-autocomplete>
    </b-field>
  </div>
</template>

<script>
import control from '@/mixins/control'
import Hint from '@/components/Hint'

export default {
  components: { Hint },

  mixins: [control],

  props: {
    options: { type: Array, required: true },
    placeholder: { type: String, required: true },
    query: { type: Promise, required: true }
  },

  data () {
    return {
      isLoading: false,
      suggestions: [...this.options.map(option => ({
        text: option.label, value: option.value
      }))]
    }
  },

  computed: {
    filteredSuggestions () {
      return this.suggestions.filter(option =>
        option.text.toLowerCase().indexOf(this._value.toLowerCase()) >= 0
      )
    }
  },

  async created () {
    this.isLoading = true
    this.suggestions.push(...await this.query)
    this.isLoading = false
  },

  methods: {
    async onInput () {
      this.isLoading = true
      this.suggestions = await this.query
      this.isLoading = false
    }
  }
}
</script>
