<template>
  <div>
    <label
      v-if="label"
      class="label"
    >
      {{ label }}&nbsp;<Hint :hint="hint" />
    </label>
    <b-field>
      <b-input
        v-model="_value"
        type="textarea"
        :disabled="isDisabled"
        :pattern="pattern"
        :placeholder="placeholder"
        :readonly="isReadonly"
        :required="mandatory"
        :rows="rows"
      />
    </b-field>
  </div>
</template>

<script>
import control from '@/mixins/control'
import Hint from '@/components/Hint'

export default {
  components: { Hint },
  mixins: [control],

  props: {
    mandatory: { type: Boolean, required: false, default: false },
    pattern: { type: String, required: false, default: null },
    placeholder: { type: String, required: false, default: '' },
    rows: { type: Number, required: false, default: 5 }
  }
}
</script>
