<template>
  <div>
    <label
      v-if="label"
      class="label"
    >
      {{ label }}&nbsp;<Hint :hint="hint" />
    </label>
    <b-field>
      <b-input
        v-model="_value"
        :disabled="isDisabled"
        :maxlength="maxLength"
        :pattern="pattern ? pattern : '.*'"
        :placeholder="placeholder"
        :readonly="isReadonly"
        :required="mandatory"
      />
    </b-field>
  </div>
</template>

<script>
import control from '@/mixins/control'
import Hint from '@/components/Hint'

export default {
  components: { Hint },

  mixins: [control],

  props: {
    errorMessage: { type: String, required: false, default: null },
    mandatory: { type: Boolean, required: false, default: false },
    maxLength: { type: Number, required: false, default: null },
    pattern: { type: String, required: false, default: null },
    placeholder: { type: String, required: false, default: '' }
  }
}
</script>
