<template>
  <section class="jesa--empty-selection is-flex">
    <img :src="emptySelection">
    <h4 class="subtitle is-4 has-text-grey">
      Please choose an item
    </h4>
  </section>
</template>

<script>
import emptySelection from '@/assets/empty-selection.svg'

export default {
  data () {
    return {
      emptySelection
    }
  }
}
</script>

<style lang="scss">
  .jesa--empty-selection {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      height: 50%;
      margin: 1rem;
      padding: 1rem;
    }
  }
</style>
