<template>
  <section class="jesa--files">
    <h6 class="title is-6 is-uppercase has-text-grey-light">
      {{ title }}
    </h6>
    <p
      v-if="files.length === 0"
      class="has-text-grey-dark"
    >
      No document to be shown
    </p>
    <ul>
      <li
        v-for="file in files"
        :key="file.doc_uid"
      >
        <a
          :href="absoluteLink(file.app_doc_link)"
          class="jesa--files__file"
        >
          <span class="jesa--files__file-name has-text-grey-darker">
            {{ file.app_doc_filename }}
          </span>
          <span class="jesa--files__user-name has-text-grey">
            {{ file.app_doc_create_user }}
          </span>
          <span class="jesa--files__date has-text-grey">
            {{ file.app_doc_create_date }}
          </span>
          <b-icon
            class="jesa--files__download-icon"
            icon="download"
            size="is-medium"
          />
        </a>
      </li>
    </ul>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    files: { type: Array, required: false, default: () => [] },
    title: { type: String, required: false, default: 'Files' }
  },

  computed: {
    ...mapGetters(['baseUri', 'serverUri', 'workspace'])
  },

  methods: {
    absoluteLink (link) {
      return `${this.serverUri}sys${this.workspace}/en/neoclassic/${link}`
    }
  }
}
</script>

<style lang="scss">
  @import "~bulma";

  .jesa--input-files {
    grid-area: input-files;
  }

  .jesa--output-files {
    grid-area: output-files;
  }

  .jesa--files {
    border-top: 1px solid $border;
    border-left: 1px solid $border;
    padding: 1rem;

    .jesa--files__file {
      column-gap: 0.3rem;
      grid-rows: 1fr 4fr 1fr;
      margin-bottom: 1rem;
      display: grid;
      padding: 0;
      grid-template:
        "file-name download-icon"
        "date      download-icon"
        "user-name download-icon";
    }

    .jesa--files__file-name {
      grid-area: file-name;
      font-weight: bold;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .jesa--files__user-name {
      grid-area: user-name;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .jesa--files__date {
      grid-area: date;
    }

    .jesa--files__download-icon {
      grid-area: download-icon;
      align-self: center;
    }
  }
</style>
