<template>
  <b-tooltip
    v-if="hint"
    :label="hint"
    type="is-info"
  >
    <b-icon
      icon="information"
      size="is-small"
      type="is-info"
    />
  </b-tooltip>
</template>

<script>
export default {
  props: {
    hint: { type: String, required: true }
  }
}
</script>
