<template>
  <nav
    class="navbar"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar-brand">
      <router-link
        class="navbar-item"
        to="/"
      >
        <img
          src="https://static.jacobs-esa.com/public/share/jacobs-logo.png"
        >
      </router-link>
      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
      >
        <span aria-hidden="true" />
        <span aria-hidden="true" />
        <span aria-hidden="true" />
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item">
          <b-field>
            <b-input
              v-model="_keyword"
              placeholder="Search..."
              type="search"
              icon="magnify"
              size="is-medium"
              @keyup.native.enter="search"
            />
            <p class="control">
              <button
                class="button is-medium"
                @click.prevent="search"
              >
                Go
              </button>
            </p>
          </b-field>
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <User />
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import User from '@/components/User'

export default {
  components: {
    User
  },

  data () {
    return {
      keyword: null
    }
  },

  computed: {
    _keyword: {
      get () {
        return this.$route.params.keyword || null
      },

      set (value) {
        this.keyword = value
      }
    }
  },

  methods: {
    search () {
      this.$router.push({ name: 'search', params: { keyword: this.keyword } })
    }
  }
}
</script>

<style lang="scss">
  @import "~bulma";

  .navbar {
    padding: 0.5em;
    border-bottom: 1px solid $border;
  }

  .navbar-brand {
    .navbar-item img {
      max-height: 2.6em;
    }
  }
</style>
