<template>
  <div class="jesa--navigation">
    <nav class="jesa--navigation-items">
      <b-dropdown aria-role="list">
        <button
          slot="trigger"
          class="jesa--navigation-item button is-white is-large"
          title="Todo"
        >
          <b-icon icon="briefcase-outline" />
        </button>
        <b-dropdown-item
          v-for="process in processes"
          :key="process.id"
          aria-role="listitem"
        >
          <router-link :to="{ name: 'inbox-list', params: { process: process.id } }">
            {{ process.title }}
          </router-link>
        </b-dropdown-item>
      </b-dropdown>
      <router-link
        :to="{ name: 'history-list', params: { process: 'history' } }"
        class="jesa--navigation-item button is-white is-large"
        title="History"
      >
        <b-icon icon="briefcase-search-outline" />
      </router-link>
    </nav>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['processes'])
  }
}
</script>

<style lang="scss">
  @import "~bulma";

  .jesa--navigation {
    grid-area: navigation;
    border-right: 1px solid $border;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
  }

  .jesa--navigation-item {
    display: block;
    width: 4rem;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0.5rem;
    transition: background 0.3s ease-in-out;
  }
</style>
