<template>
  <section class="jesa--summary-view">
    <h5 class="title is-6 has-text-grey-light">
      SUMMARY
    </h5>
    <h6 class="title is-6">
      CASE PROPERTIES
    </h6>
    <dl>
      <dt>Process name</dt><dd>{{ summary.case.process }}</dd>
      <dt>Case title</dt><dd>{{ summary.case.title }}</dd>
      <dt>Case number</dt><dd>{{ summary.case.number }}</dd>
      <dt>Case status</dt><dd>{{ summary.case.status }}</dd>
      <dt>Case creator</dt><dd>{{ summary.case.creator }}</dd>
      <dt>Creation date</dt><dd>{{ summary.case.created }}</dd>
      <dt>Last update date</dt><dd>{{ summary.case.updated }}</dd>
      <dt>Case description</dt><dd>{{ summary.case.description }}</dd>
    </dl>
    <h6 class="title is-6 is-spaced">
      CURRENT TASK PROPERTIES
    </h6>
    <dl>
      <dt>Task name</dt><dd>{{ summary.task.title }}</dd>
      <dt>Current user</dt><dd>{{ summary.task.user }}</dd>
      <dt>Task delegation date</dt><dd>{{ summary.task.delegated }}</dd>
      <dt>Task init date</dt><dd>{{ summary.task.initiated }}</dd>
      <dt>Task due data</dt><dd>{{ summary.task.duedate }}</dd>
      <dt>Task finish date</dt><dd>{{ summary.task.finished }}</dd>
    </dl>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['summary'])
  }
}
</script>

<style lang="scss">
  @import "~bulma";

  .jesa--summary-view {
    dl {
      margin-bottom: 4rem;
    }

    dt, dd {
      display: inline-block;
    }

    dt {
      width: 30%;
      min-width: 10rem;
      color: $grey;
    }

    dd {
      width: 70%;
      font-weight: 500;
    }
  }
</style>
