<template>
  <section class="jesa--tasks">
    <h6 class="title is-6 is-uppercase has-text-grey-light">
      Overview
    </h6>
    <ul class="steps has-content-centered is-hollow is-vertical is-short">
      <li
        v-for="task in tasks"
        :key="task.tas_uid"
        :class="{ 'is-active': task.status == 'TASK_IN_PROGRESS' }"
        class="steps-segment"
      >
        <span class="steps-marker">
          <b-icon
            :icon="icon(task.tas_start, task.status)"
            size="is-small"
          />
        </span>
        <div class="steps-content">
          <p>{{ task.tas_title }}</p>
          <template v-if="task.delegations.length > 0">
            <p class="is-size-7 has-text-grey">
              {{ task.delegations[0].usr_firstname }}, {{ task.delegations[0].usr_lastname }}
            </p>
            <p class="is-size-7 has-text-grey">
              {{ localDate(task.delegations[0].del_finish_date) }}
            </p>
          </template>
        </div>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  props: {
    tasks: {
      type: Array,
      required: true
    }
  },

  methods: {
    icon (started, status) {
      switch (status) {
        case 'TASK_IN_PROGRESS': return 'email-outline'
        case 'TASK_PENDING_NOT_EXECUTED': return ''
        case 'TASK_COMPLETED': return started === 1 ? 'email-open-outline' : 'email-outline'
        case 'TASK_PARALLEL': return 'equal'
      }
    },

    localDate (date) {
      return (new Date(date)).toDateString()
    }
  }
}
</script>

<style lang="scss">
  @import "~bulma";
  @import "~bulma-o-steps/bulma-steps.min.css";

  .jesa--tasks {
    border-left: 1px solid $border;
    padding: 1rem;
    grid-area: tasks;
  }
</style>
