<template>
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <img
          :src="process.icon"
          :alt="process.title"
        >
      </figure>
    </div>
    <div class="card-content">
      <p class="title is-4">
        {{ process.title }}
      </p>
    </div>
    <footer class="card-footer">
      <router-link
        :to="{ name: 'create', params: { process: process.id } }"
        class="card-footer-item"
        title="Create new request"
      >
        <b-icon icon="plus" />
      </router-link>
      <router-link
        :to="{ name: 'inbox-list', params: { process: process.id } }"
        class="card-footer-item"
        title="Go to inbox"
      >
        <b-icon
          icon="bell"
          class="has-badge-rounded has-badge-danger"
          :data-badge="newCount(process.id) > 0 ? newCount(process.id) : null"
        />
      </router-link>
    </footer>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    process: { type: Object, required: true }
  },

  computed: {
    ...mapGetters(['newCount'])
  }
}
</script>

<style lang="scss">
  @import "~bulma";
  @import "~bulma-badge/dist/css/bulma-badge.min.css";

  .card {
    margin: 1rem;
    min-width: 16rem;
    border-radius: 1.2rem;
    box-shadow: 0 2px 15px -5px rgba(10, 10, 10, 0.1) !important;

    .image img {
      box-sizing: content-box;
      display: block;
      height: auto;
      margin: auto;
      padding: 1rem;
      width: 6rem;
    }

    .card-content {
      padding: 0rem 0 1rem 1.5rem;
    }

    .card-content .title {
      font-size: 1.2rem;
      word-wrap: break-word;
      min-height: 3rem;
      max-width: 13rem;
      text-align: center;
    }

    .card-footer,
    .card-footer .card-footer-item {
      border: none;
    }

    .card-footer .card-footer-item {
      margin-bottom: 0.5rem;
    }
  }
</style>
