<template>
  <span>
    Hello {{ currentUser.firstname }}!
    <router-link to="logout">Logout</router-link>
  </span>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['currentUser']),

    _keyword: {
      get () {
        return this.$route.params.keyword || null
      },

      set (value) {
        this.keyword = value
      }
    }
  }
}
</script>
