<template>
  <div class="jesa--case-notes">
    <h6 class="title is-6 is-uppercase has-text-grey-light">
      Notes
    </h6>
    <p
      v-if="notes.length === 0"
      class="has-text-grey-dark"
    >
      No note to be shown
    </p>
    <Note
      v-for="(caseNote, key) in notes"
      :key="key"
      :note="caseNote"
    />
    <div class="jesa--case-notes__add-field has-background-light">
      <b-field>
        <b-input
          v-model="note"
          :loading="isLoading"
          type="textarea"
          rows="2"
          placeholder="Write your comment here"
        />
      </b-field>
      <button
        class="button is-info is-outlined is-pulled-right"
        @click="save"
      >
        Save
      </button>
      <div class="is-clearfix" />
    </div>
  </div>
</template>

<script>
import Note from '@/components/Notes/Note'
import { mapActions } from 'vuex'

export default {
  components: { Note },

  props: {
    notes: { type: Array, required: false, default: () => [] },
    app: { type: String, required: true }
  },

  data () {
    return {
      note: null,
      isLoading: false
    }
  },

  methods: {
    ...mapActions(['saveCaseNote', 'clearCaseNotes', 'getCaseNotes']),

    async save () {
      this.isLoading = true

      try {
        await this.saveCaseNote({ app: this.app, note: this.note })
        this.getCaseNotes({ app: this.app })
      } catch (error) {
        this.$snackbar.open({
          message: 'You do cannot add cases notes',
          type: 'is-danger'
        })
      }

      this.isLoading = false
    }
  }
}
</script>

<style lang="scss">
  @import "~bulma";

  .jesa--case-notes {
    grid-area: case-notes;
    border-left: 1px solid $border;
    padding: 1rem;
  }
</style>
