<template>
  <div class="jesa--case-note">
    <p class="jesa--case-note__content">
      <span class="jesa--case-note__user">
        {{ user.firstname }}, {{ user.lastname }}:
      </span>
      {{ note.note_content }}
      <span class="jesa--case-note__date">
        {{ note.note_date }}
      </span>
    </p>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  props: {
    note: { type: Object, required: true }
  },

  data () {
    return {
      user: {
        firstname: 'loading',
        lastname: 'loading'
      }
    }
  },

  computed: {
    ...mapGetters(['userInfo']),

    uid () {
      return this.note.usr_uid
    }
  },

  async created () {
    await this.getUserInfo({ uid: this.uid })

    const user = this.userInfo(this.uid)

    this.user.firstname = user.usr_firstname
    this.user.lastname = user.usr_lastname
  },

  methods: {
    ...mapActions(['getUserInfo'])
  }
}
</script>

<style lang="scss">
  @import "~bulma";

  .jesa--case-notes {
    .jesa--case-note {
      margin-bottom: 1rem;
    }

    .jesa--case-note__date {
      color: $grey;
      display: block;
    }

    .jesa--case-note__user {
      font-weight: bold;
    }

    .jesa--case-note__content {
      margin: 0.5rem 0;
      clear: both;
      word-wrap: anywhere;
    }

    .jesa--case-notes__add-field {
      margin: -1rem;
      margin-top: 1rem;
      padding: 1rem;
      border-top: 1px solid $border;
    }
  }
</style>
