<template>
  <div id="app">
    <Navbar v-if="isNavbarVisible" />
    <transition enter-active-class="animated fadeIn">
      <router-view />
    </transition>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'

export default {
  components: {
    Navbar
  },

  computed: {
    isNavbarVisible () {
      return this.$route.name !== 'login'
    }
  }
}
</script>

<style lang="scss">
@import "~bulma/sass/utilities/_all";

$family-primary: 'Fira Sans';

@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "~animate.css";
</style>
